.contacts
	position relative
	border 3px solid #ffcc00
	height 400px
	overflow hidden
	min-width 1000px
		
	&__map
		position absolute
		height 550px
		width 100%
		z-index 1
		
	&__inner
		margin 0 auto
		width 1000px
		position relative
		z-index 1000
		height 0
		
	&__info
		position relative
		width 320px
		height 400px
		padding-top 35px
		padding-left 40px
		padding-right 28px
		background-color rgba(0, 0, 0, .4)
		color #fff
		font-size 16px
		z-index 3
		
	&__info-list
		line-height 1.4
		
	&__list-item
		margin-bottom 15px
		
	&__link.link
		color #e7c034
		border-color #e7c034