mixin reviews()
	+b.reviews&attributes(attributes)
		+e.inner
			+sectTitle('Отзывы')

			+e.item
				+e('h4').item-title
					| Ремонт квартиры
				+e.item-address
					| ул. Советская
				+e.image-box
					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')

					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')
				+e.item-content
					+e('p').item-text
						| Lorem ipsum dolor sit amet, consectetur 
						| adipisicing elit. Deserunt quam assumenda 
						| neque, vel facere inventore necessitatibus. 
						| Quae totam dolores neque tempore laborum, est 
						| amet fugit nam, culpa dignissimos, autem 
						| commodi.

					+e.item-author
						+e.author-img-wrap
							+e('img').author-img(src='assets/img/temp/review-img-1.jpg')
						+e.author-name
							| Иван Иванов
					+e.arrow-to-btn
				+button('Смотреть видео отзыв').reviews__item-btn.controller-video(data-video='https://www.youtube.com/embed/Imeq3GeRttw?rel=0&amp;controls=0&amp;showinfo=0')
			

			+e.item
				+e('h4').item-title
					| Ремонт квартиры
				+e.item-address
					| ул. Советская
				+e.image-box
					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')
					
					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')
				+e.item-content
					+e('p').item-text
						| Lorem ipsum dolor sit amet, consectetur 
						| adipisicing elit. Deserunt quam assumenda 
						| neque, vel facere inventore necessitatibus. 
						| Quae totam dolores neque tempore laborum, est 
						| amet fugit nam, culpa dignissimos, autem 
						| commodi.

					+e.item-author
						+e.author-img-wrap
							+e('img').author-img(src='assets/img/temp/review-img-1.jpg')
						+e.author-name
							| Иван Иванов
					+e.arrow-to-btn
				+button('Смотреть видео отзыв').reviews__item-btn.controller-video(data-video='https://www.youtube.com/embed/RdSBd4TgSN8?rel=0&amp;controls=0&amp;showinfo=0')


			+e.item
				+e('h4').item-title
					| Ремонт квартиры
				+e.item-address
					| ул. Советская
				+e.image-box
					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')

					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')
				+e.item-content
					+e('p').item-text
						| Lorem ipsum dolor sit amet, consectetur 
						| adipisicing elit. Deserunt quam assumenda 
						| neque, vel facere inventore necessitatibus. 
						| Quae totam dolores neque tempore laborum, est 
						| amet fugit nam, culpa dignissimos, autem 
						| commodi.

					+e.item-author
						+e.author-img-wrap
							+e('img').author-img(src='assets/img/temp/review-img-1.jpg')
						+e.author-name
							| Иван Иванов
					+e.arrow-to-btn
				+button('Смотреть видео отзыв').reviews__item-btn.controller-video(data-video='https://www.youtube.com/embed/-GfxAdyMI4Q?rel=0&amp;controls=0&amp;showinfo=0')


			+e.item
				+e('h4').item-title
					| Ремонт квартиры
				+e.item-address
					| ул. Советская
				+e.image-box
					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')
					
					+e.image-wrap
						+e('img').item-image(src='assets/img/temp/price-img-1.jpg')
				+e.item-content
					+e('p').item-text
						| Lorem ipsum dolor sit amet, consectetur 
						| adipisicing elit. Deserunt quam assumenda 
						| neque, vel facere inventore necessitatibus. 
						| Quae totam dolores neque tempore laborum, est 
						| amet fugit nam, culpa dignissimos, autem 
						| commodi.

					+e.item-author
						+e.author-img-wrap
							+e('img').author-img(src='assets/img/temp/review-img-1.jpg')
						+e.author-name
							| Иван Иванов
					+e.arrow-to-btn
				+button('Смотреть видео отзыв').reviews__item-btn.controller-video(data-video='https://www.youtube.com/embed/srOz8eal8FQ?rel=0&amp;controls=0&amp;showinfo=0')

		block