opensans = OpenSansRegular, sans-serif
opensans_bold = OpenSansBold, sans-serif
opensans_italic = OpenSansItalic, sans-serif
opensans_bold_italic = OpenSansBoldItalic, sans-serif
	
@font-face
	font-family 'OpenSansRegular'
	src url('../fonts/OpenSansRegular.eot'),
		url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansRegular.wof') format('woff'),
		url('../fonts/OpenSansRegular.ttf') format('truetype')
	font-style: normal;
	font-weight: normal;

@font-face
	font-family 'OpenSansBold'
	src url('../fonts/OpenSansBold.eot'),
		url('../fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansBold.wof') format('woff'),
		url('../fonts/OpenSansBold.ttf') format('truetype')
	font-style: normal;
	font-weight: normal;
	
@font-face
	font-family 'OpenSansItalic'
	src url("../fonts/OpenSansItalic.eot"),
		url("../fonts/OpenSansItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSansItalic.woff") format("woff"),
		url("../fonts/OpenSansItalic.ttf") format("truetype")
	font-style normal
	font-weight normal
	
@font-face
	font-family 'OpenSansBoldItalic'
	src url("../fonts/OpenSansBoldItalic.eot"),
		url("../fonts/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSansBoldItalic.woff") format("woff"),
		url("../fonts/OpenSansBoldItalic.ttf") format("truetype")
	font-style normal
	font-weight normal