adv_title_color = #414141

.sect-title
	text-transform uppercase
	font-family opensans_bold
	font-size 64px
	color adv_title_color
	text-align center
	
	&:after
		display block
		margin 0 auto
		margin-top 10px
		margin-bottom 60px
		content ''
		width 250px
		height 2px
		background-color adv_title_color