mixin services()
	+b.services&attributes(attributes)
		+e.inner
			+sectTitle('Улсуги')
			+e.list
				+e.list-item
					+e('img').item-img(src='assets/img/services-icon-1.jpg')
					+e.item-description
						| Дизайн проект
				+e.list-item
					+e('img').item-img(src='assets/img/services-icon-2.jpg')
					+e.item-description
						| Дизайн проект
				+e.list-item
					+e('img').item-img(src='assets/img/services-icon-3.jpg')
					+e.item-description
						| Дизайн проект
				+e.list-item
					+e('img').item-img(src='assets/img/services-icon-4.jpg')
					+e.item-description
						| Дизайн проект