.header
	&__top-line
		clearfix()
		width 1000px
		margin 0 auto
		height 80px

	&__logo
		float left
		margin-top 6px

	&__info
		font-size 14px
		line-height 1.4
		float right
		text-align center
		
	&__info-code
		font-family opensans_bold
		font-size 16px
		padding-right 5px
	
	&__info-phone
		font-size 22px
		padding-right 10px
		
	&__info-link
		color #1c77bd
		font-size 16px
		font-family opensans_bold
		text-decoration underline dashed
		cursor pointer
		
	&__info-city
		margin-top 5px
	
	&__menu
		clearfix()
		min-width 1000px
		background-color #78add9

	&__menu-inner
		width 1000px
		margin 0 auto
		text-align center
		height 36px

	&__menu-item
		display inline-block
		line-height 36px
		cursor pointer
		
		&:hover
			background-color darken(#78add9, 30%)
		
	&__menu-link
		display inline-block
		color #fff
		text-decoration none
		font-family opensans_bold
		width 100%
		padding-x 22px