.portfolio
	position relative
	padding-top 60px
	padding-bottom 80px
	background url('../img/portfolio-bg-min.jpg')
	background-position 0 center
	background-size cover
	
	&:before
		before()
		background rgba(#fff, .85)
	
	&__inner
		position relative
		width 1000px
		margin 0 auto