.free-services
	padding-y 60px
	clearfix()

	&__inner
		width 930px
		margin 0 auto
		
	&__service-item
		outline none
		float left
		width 33.3333%
		text-align center
		margin-bottom 40px
		
	&__service-icon
		margin-bottom 28px
		width 109px
		height 109px
		
	&__service-title
		line-height 1.4
		padding-x 28px