red_color = #e74747

.garants
	
	&__list
		margin-left 80px
		margin-right 40px
		line-height 1
		color #414143
		
	&__item-red-part
		line-height 30px
		padding-x 18px
		margin-x 10px
		background-color red_color
		color #fff
	
	&__list-item
		margin-bottom 15px
		
	&.notice__inner
		padding-top 60px
		padding-bottom 55px
		margin-top 70px