.footer
	height 86px
	background-color #414141
	min-width 1000px
	
	&__inner
		width 1000px
		margin 0 auto
		
	&__text
		color #fff
		width 60%
		margin-x auto
		margin-top 10px
		text-align center
		font-size 14px
		line-height 1.4