mixin notice()
	+b.notice&attributes(attributes)
		+e.inner
			+e('img').img(src='assets/img/notice-img.jpg' alt='notice img')
			+e('p').content
				+e('span').title
					| Внимание!!! 
				| Наша система максимально точно рассчитывает стоимость 
				| необходимых работ, количество строительного материала и
				|  его стоимость с учетом партнерской скидки от 
				| "Стройландия" ВЫ бесплатно получаете на руки полную 
				| смету отделочных работ и стройматериалов с 
				| окончательной стоимостью. Это самое главное при выборе
				|  подрядчика, это ВАША защита от переплаты, это ВАША 
				| гарантия! ВЫ получаете окончательную стоимость и 
				| принимаете решение
			block